/* Write your CSS here */
.bgContainer1 {
  /* min-height: 100vh; */
  background-color: black;
}
.h11 {
  color: white;
}
.img1 {
  height: 20vh;
  width: 100%;
}
.h11 {
  color: white;
}
.con1 {
  padding: 30px;
}
